{% extends "profile/profile_main.html" %}

{% block profilecontent %}
  <h1 class="profile-title">Edit Password</h1>
  <form class="form" method="POST" action="/profile/edit_password">
    <input type="hidden" name="email" value="{{email|e}}">
    <div class="form-section">
      <label>Current Password</label>
      <input class="form-input" type="password" name="curr_password" placeholder="Your old password">
    </div>
    <div class="form-section">
      <label>New Password</label>
      <input class="form-input" type="password" name="new_password"  placeholder="Your new password">
    </div>
    <div class="form-section">
      <label>Confirm New Password</label>
      <input class="form-input" type="password" name="confirm_new_password" placeholder="Confirm your new password">
    </div>
    <button class="primary-button" type="submit">Save</button>
  </form>
{% endblock %}

{% block profileSideContent %}
  {% include "right_window/profile_info.html" %}
{% endblock %}
