{% extends "twoAndOneThirdDivs.html" %}

{% block twoThirdContent %}
  <div class="profile-info">
    {% block profilecontent %}{% endblock %}
  </div>
{% endblock %}

{% block oneThirdContent %}

  <div class="profile-side-info">
      <h3>Profile</h3>
      <p class='text-muted'>
          <ul class="list-group">
              <a href="/profile" style="text-decoration:none;"><button type="button" class="list-group-item list-group-item-action">Personal Info</button></a>
              <a href="/companies" style="text-decoration:none;"><button type="button" class="list-group-item list-group-item-action">Company Info</button></a>
          </ul>
      </p>
  </div>

{% endblock %}

