{% extends "layout/fullPageScroll.html" %}

{% block pageDropDowns %}
  {% include "right_window/profile_info.html" %}
{% endblock %}

{% block pageContent %}
  <form class="form" method="POST" action="/profile/edit_profile">
    <input type="hidden" name="old_email" value="{{email|e}}">
    <div class="form-section">
        <label>Name</label>
        <input class="form-input" type="name" name="name" value="{{ name|e }}" placeholder="Your new name">
    </div>
    <div class="form-section">
      <label>Email</label>
      <input class="form-input" type="email" name="email" value="{{ email|e }}" placeholder="Your new email">
    </div>
    <button class="primary-button" type="submit">Save</button>
  </form>
{% endblock %}
