{% extends "profile/profile_main.html" %}

{% block profilecontent %}
    <script>
      function toggle_edit_profile(){
        document.getElementById("edit_profile_form").classList.toggle("hidden")
        document.getElementById("profile_info").classList.toggle("hidden")
      }
    </script>

    <h2>Profile Information: Welcome, {{name}}!</h2>
      <form id="edit_profile_form" class="hidden" method="POST" action="profile/edit_profile">
        <input type="hidden" name="old_email" value="{{email}}">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="name" name="name" value="{{ name }}" placeholder="Your new name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" name="email" value="{{ email }}" placeholder="Your new email">
        </div>

          <button class="btn btn-primary btn-md mr-1" type="submit">Save</button>
          <button class="btn btn-primary btn-md mr-1"  type="button" onclick="toggle_edit_profile()">Cancel</button>
      </form>
      <div id="profile_info">
        <table class="table table-bordered">
          <tr>
            <th width="30%">Name</th>
            <td width="2%">:</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <th width="30%">Email</th>
            <td width="2%">:</td>
            <td>{{ email }}</td>
          </tr>
        </table>
          <button class="btn btn-primary btn-md mr-1" type="button" onclick="toggle_edit_profile()">Edit Profile</a>
          <!-- for testing purposes: -->
          <button class="btn btn-primary btn-md mr-1" formaction="/edit_password">Edit Password</button> 
      </div>

{% endblock %}

{% block profileSideContent %}
  {% include "right_window/profile_info.html" %}
{% endblock %}