#main{ float:left; width:100%;}
#wrapper{margin:0 auto; width:986px;}
#header{float:left; width:946px; padding:0 20px;}
#header .top_section{float:left; height:200px; width:100%; background-image: url("../images/header_bg.png");}
#header .top_section .logo{float:left; width:285px; padding:30px 0 0 20px;}
#header .top_section .logo a{float:left; width:auto;}
#header .top_section .logo a img{float:left;}
#header .top_section .logo span{
	float:left;
	width:100%;
	font-size:18px;
	line-height:15px;
	color:#e6f5ff;
	text-transform:uppercase;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#header .top_section .logo strong{
	float:left;
	width:100%;
	font-size:24px;
	line-height:15px;
	color:#33adff;
	padding:10px 0;
	text-align:left;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
}
#header .top_section img{display: inline;  float:right; max-height:200px; width:auto;}

#header .menu{float:left; width:100%; height:32px; background-color:#33adff;}
#header .menu ul{float:left; width:auto; list-style:none;}
#header .menu ul li{float:left; width:auto; padding:0 45px; display:inline; font-size:15px; line-height:2px; text-shadow:1px 1px 1px #580202; text-transform:uppercase;}
#header .menu ul li a{float:left; width:auto; color:#fff; text-decoration:none;}
#header .menu ul li a:hover{text-decoration:underline;}

#body_container{display: table; width:902px; margin: 0 auto; border:2px solid lightgrey; }
#body_container .left_container{float:left; margin: 10 auto; padding:0 10px; border:2px solid black; border-color:#33adff; width:20%; height:488px;}
#body_container .left_container img{display:block; width: 75%; padding-left:20px;}
#body_container .left_container ul{float:left; width:auto; list-style:none;}
#body_container .left_container ul li{display:block; padding-left:20px;}
#body_container .left_container ul li a{float:left; width:auto; color:#33adff; text-decoration:none;}
#body_container .left_container ul li a:hover{text-decoration:underline;}
#body_container .left_container h3{display:block; text-align: center; float:left; width:100%;font-size:22px;color:#33adff;font-style:normal;font-family:Arial, Helvetica, sans-serif;font-weight: bold;}

#body_container .right_container{float:right; padding:0 10px; width:70%;}
#body_container .right_container .top_section{display:block; height:30px;}
#body_container .right_container .bottom_section{display:block; overflow: scroll; overflow-x: hidden; overflow-y: auto; width: 100%; height:450px;}
#body_container .right_container .top_section img{float:left;}
#body_container .right_container .top_section h4{
	text-align:center;
	font-size:18px;
	line-height:10px;
	color:#33adff;
}
#body_container .right_container .bottom_section h3{
	float:left;
	width:100%;
	font-size:22px;
	color:#33adff;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#body_container .right_container .bottom_section article{float:left;width:auto; padding:0 10px 0 10px; color: white;}
#body_container .right_container .bottom_section h5{float:left; width:auto; padding:0 0 0 20px;}
#body_container .right_container .bottom_section img{display:inline; padding-left:20px; padding-top:20px;}
#body_container .right_container .bottom_section #gallery{padding:5px; overflow-x: auto; overflow-y: hidden; height:350px;white-space:nowrap;margin-right: 25px;margin-left: 15px;height:300px; float:left;}
#body_container .right_container .bottom_section #gallery img{display: inline-block;}
#body_container .right_container .bottom_section h6{
	float:left;
	width:100%;
	font-size:17px;
	color:#33adff;
	font-style:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:8px 0;
	font-weight: bold;
}

#footer{float:left; width:946px; padding:0 20px;}
#footer .top_section{float:left; width:100%; height:32px; background-color:#33adff;}
#footer .top_section span{color:white; float:left; padding-top:4px; padding-left: 20px;}

#footer .bottom_section{float:left; width:100%; background-color:#000000}
#footer .bottom_section span{color:white; float:right; padding: 30px 20px 10px 10px;}
.darkgrey_div{display: inherit; border:2px solid darkgrey; width: 98%; height: 98%;}
.grey_div{display: inherit; border:2px solid grey; padding:0 20px; width: 894px; height: 98%;}


.grey_line{float:left; width:100%; height:2px; display:block; background-color:grey;}
.white_line{float:left; width:100%; height:2px; display:block; background-color:white;}
.clear{padding-bottom:15px;}
.bacon {
	background-image: url('../images/Tobubillboard.png'); 
	background-repeat: no-repeat; 
	background-size: 100% 100%;
}
a:visited{
  color:white;
}