<!--
Application Template #400
This issue is for tracking the creation of the application view. An applicant follows the application route from a job posting and this page will be what is rendered to facilitate the data entry for the job application. This is a standard form that will resemble the about page or home page edit view.

The user will need to be authenticated, and we will present a standard form to allow the user to input:

attach resume
attach cover letter
message to hiring manager text field
location-->