
{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
<form method="POST" action="/applications/{{ job.id }}/{{ application.id }}/edit-status">
  <label for="status_code">Change Status:</label>
  <select name="status_code" id="status_code">
    <option value="pending" {% if application.status_code.value == 'pending' %}selected{% endif %}>Pending</option>
    <option value="maybe" {% if application.status_code.value == 'maybe' %}selected{% endif %}>Maybe</option>
    <option value="accepted" {% if application.status_code.value == 'accepted' %}selected{% endif %}>Accepted</option>
    <option value="rejected" {% if application.status_code.value == 'rejected' %}selected{% endif %}>Rejected</option>
    <option value="deleted" {% if application.status_code.value == 'deleted' %}selected{% endif %}>Deleted</option>
  </select>
  <button type="submit">Update Status</button>
</form>

<p>Current Status: {{ application.status_code.value|e }}</p>
{% endblock %}


