{% extends "layout/fullPageScroll.html" %}

{% block pageDropDowns %}
  {% if is_admin %}

  {% endif %}
{% endblock %}
{% block pageContent %}

{% block beforeTableContent %}
    <div class="title-underline">
      <a class="text-button" href="/applications/{{ job.id }}/job-applications?status=all">all</a>|
      <a class="text-button" href="/applications/{{ job.id }}/job-applications?status=pending">pending</a>|
      <a class="text-button" href="/applications/{{ job.id }}/job-applications?status=accepted">accepted</a>|
      <a class="text-button" href="/applications/{{ job.id }}/job-applications?status=rejected">rejected</a>
    </div>
{% endblock %}

{% block tableContent %}
  {% for application in applications %}
    {% if application.job_id == job.id %}
      <tr><td class="">
        <a class="alternating-colors-table-links" href="/applications/{{ job.id }}/application/{{ application.id }}">{{ application.user.name }}</a>
        <p class="">Received {{ application.date_applied.strftime('%B %d, %Y')|e }}</p>
        <p class="">Status: {{ application.status_code.value|upper|e }}</p>
      </td></tr>
    {% endif %}
  {% endfor %}
{% endblock %}

{% endblock %}
{% block postTableContent %}
  {{ applications.items | pprint }}
  {{ pagination.render_pagination(applications.items, "") }}
{% endblock %}