{% extends "profile/profile_main.html" %}

{% block profilecontent %}
  <h1 class="header">Company Information</h1>
  {% for company in companies %}
    <table class="table table-bordered">
      <tr>
        <td><a href="/companies/{{ company.id }}">{{ company.name }}</a></td>
      </tr>
    </table>
  {% endfor %}
  <a href="/companies/create" class="btn btn-primary">Create New Company</a>
{% endblock %}

{% block profileSideContent %}
  {% include "right_window/profile_info.html" %}
{% endblock %}
