{% extends "layout/fullPageScroll.html" %}
{% import "macros/paginate.html" as pagination %}

{% block pageDropDowns %}
  {% include "right_window/profile_info.html" %}
{% endblock %}

{% block pageContent %}
  <p>Please click on a link below to view a specific company's information.</p>
  <ul class="company-list">
    {% for company in companies %}
      <li><a href="/company/{{ company.id }}">{{ company.name|e }}</a></li>
    {% endfor %}
  </ul>
  {{ pagination.render_pagination(companies, "") }}
{% endblock %}

