{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <div class="content-section">
        <h1 class="profile-title">Create New Company</h1>
        <form class="form" method="POST" action="/company/create">
            <div class="form-section">
                <label>Company Name*</label>
                <input class="form-input" type="text" name="name" placeholder="Company Name" required>
            </div>

            <div class="form-section">
                <label>Address 1*</label>
                <input class="form-input" type="text" name="address1" placeholder="Address 1" required>
            </div>

            <div class="form-section">
                <label>Address 2</label>
                <input class="form-input" type="text" name="address2" placeholder="Address 2">
            </div>

            <div class="form-section">
                <label>City*</label>
                <input class="form-input" type="text" name="city" placeholder="City" required>
            </div>

            <div class="form-section">
                <label>State*</label>
                <input class="form-input" type="text" name="state" placeholder="State">
            </div>

            <div class="form-section">
                <label>ZIP*</label>
                <input class="form-input" type="text" name="zipcode" placeholder="ZIP" required>
            </div>

            <div class="form-section">
                <label>Country*</label>
                <input class="form-input" type="text" name="country" placeholder="Country" required>
            </div>

            <div class="form-section">
                <label>Phone</label>
                <input class="form-input" type="text" name="phone" placeholder="Phone">
            </div>

            <div class="form-section">
                <label>Email</label>
                <input class="form-input" type="text" name="email" placeholder="Email">
            </div>
            <button class="primary-button" type="submit">Save</button>
        </form>
    </div>
{% endblock %}
