{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="content-section">
    <h1 class="profile-title">Edit Company Information</h1>
    <form class="form" method="POST" action="/company/{{company.id}}/edit">
      <input type="hidden" name="id" value="{{company.id}}">

      <div class="form-section">
          <label>Company Name*</label>
          <input class="form-input" type="text" name="name" value="{{ company.name|e }}" placeholder="Company Name" required>
      </div>

      <div class="form-section">
          <label>Address 1*</label>
          <input class="form-input" type="text" name="address1" value="{{ company.address1|e }}" placeholder="Address 1" required>
        </div>

      <div class="form-section">
          <label>Address 2</label>
          <input class="form-input" type="text" name="address2" value="{{ company.address2|e }}" placeholder="Address 2">
      </div>

      <div class="form-section">
          <label>City*</label>
          <input class="form-input" type="text" name="city" value="{{ company.city|e }}" placeholder="City" required>
      </div>

      <div class="form-section">
        <label>State*</label>
        <input class="form-input" type="text" name="state" value="{{ company.state|e }}" placeholder="State">
      </div>

      <div class="form-section">
          <label>ZIP*</label>
          <input class="form-input" type="text" name="zipcode" value="{{ company.zipcode|e }}" placeholder="ZIP" required>
        </div>

      <div class="form-section">
          <label>Country*</label>
          <input class="form-input" type="text" name="country" value="{{ company.country|e }}" placeholder="Country" required>
      </div>

      <div class="form-section">
          <label>Phone</label>
          <input class="form-input" type="text" name="phone" value="{{ company.phone|e }}" placeholder="Phone">
      </div>

      <div class="form-section">
          <label>Email</label>
          <input class="form-input" type="text" name="email" value="{{ company.email|e }}" placeholder="Email">
      </div>
      <button class="primary-button" type="submit">Save</button>
      <a class="primary-button" href="/company/{{company.id}}/members/edit">Edit Members</a>
    </form>
  </div>
{% endblock %}
