{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="content-section">
    <h1 class="profile-title">Edit Company Members</h1>
    <form class="form" method="POST" action="/company/{{company.id}}/members/edit">
      <input type="text" hidden name="page-number" value="{{page}}"/>
      <div class="member-grid">
        {% for user in users %}
        <div>
          <input type="checkbox" id="{{user.id}}" name="member-checkbox" value="{{user.id}}"
          {% if user in company.members %} checked {% endif %}
          />
          <label for="{{user.id}}">{{user.name}}</label>
        </div>
      {% endfor %}
      </div>
        <button class="primary-button" type="submit">Save</button>
    </form>
    <a class="primary-button" href="/company/{{company.id}}/edit">Edit Company</a>
    {% if page > 1 %}
      <a class="primary-button" href="/company/{{company.id}}/members/edit?page={{prev_page}}">Previous page</a>
    {% endif %}
    <a class="primary-button" href="/company/{{company.id}}/members/edit?page={{next_page}}">Next page</a>
  </div>
{% endblock %}
