Werkzeug==2.3.8
bidict==0.22.1
blinker==1.7.0
click==8.1.7
flask<3.0.0
jinja2
flask-sqlalchemy
flask-login
flask-principal
flask-admin
flask-commonmark
flask-limiter
flask-migrate
Flask-SocketIO==5.3.6
pytz
sqlalchemy
markupsafe
mysqlclient
requests
boto3
python-dotenv
python-socketio==5.11.0
simple-websocket==1.0.0