{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="content-section">
    <h1 class="title">Create About</h1>
    <form class="form" method="POST" action="/home/edit" enctype="multipart/form-data">
        <div class="form-section">
            <label for="name">Name</label>
            <input
            class="form-input"
            type="text"
            name="name"
            id="name"
            placeholder="Organization Name">
        </div>
        <div class="mb-3">
            <label for="article">Main Text</label>
            <textarea
            class="form-input"
            name="article"
            id="article"
            placeholder="Write about your organization here."></textarea>
        </div>
        <div class="form-section">
            <label for="article">Tags</label>
            <input
            class="form-input"
            type="text"
            name="tags"
            id="tags"
            placeholder="tags,tags">
        </div>
        <div class="form-section">
            <label for="file">Image</label>
            <input type="file" name="file" class="form-input">
        </div>
        <button class="primary-button">Update</button>
    </form>
</div>
{% endblock %}