{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="content-section">
    <h1 class="title">Update Home</h1>
    <form class="form" method="POST" action="/home/edit" enctype="multipart/form-data">
        <div class="form-section">
            <label for="name" class="form-label">Name</label>
            <input
            class="form-input"
            type="text"
            name="name"
            id="name"
            value="{{home.company_name|e}}">
        </div>
        <div class="form-section">
            <label for="article">Main Text</label>
            <textarea
            class="form-input"
            name="article"
            id="article"
            >{{home.article|e}}</textarea>
        </div>
        <div class="form-section">
            <label for="article">Tags</label>
            <input
            class="form-input"
            type="text"
            name="tags"
            id="tags"
            value="{{home.tags|e}}">
        </div>
        <div class="form-section">
            <label for="file" >Image</label>
            <input type="file" name="file" class="form-input">
        </div>
        <div class="form-section">
            <p>Current:</p>
            <img class="upload-image" src="{{image|e}}" alt="About Image">
        </div>

        <button class="primary-button">Update</button>
    </form>
</div>
{% endblock %}