{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<h1>Update About</h1>
<div class="column">
    <div class="box mb-3">
        <form method="POST" action="/home/edit" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                value="{{home.company_name}}">
            </div>
            <div class="mb-3">
                <label for="article" class="form-label">Main Text</label>
                <textarea
                class="form-control"
                name="article"
                id="article"
                >{{home.article}}</textarea>
            </div>
            <div class="mb-3 upload-image-container">
                <label for="file" class="form-label">Image</label>
                <input type="file" name="file">
                <div class="upload-image-container">
                  <p>Current:</p>
                  <img class="upload-image" src="{{home.image}}" alt="About Image">
                </div>
            </div>
            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
{% endblock %}