{% extends "layout/fullPageScroll.html" %}
{% block tags %}
  {% if home.tags %}
      <meta name="keywords" content="{{home.tags|e}}">
  {% endif %}
{% endblock %}

{% block pageDropDowns %}
  <a href="/home/edit">Edit Home Page</a>
{% endblock %}


{% block pageContent %}
    <article>
      <div class="home-container">
        <div class="commonmark">{{home.article|commonmark|e}}</div>
        <div class="image-container">
          <img src="{{image|e}}" alt="Home Image" style="width: 100%; height: auto">
        </div>
    </article>
{% endblock %}

