{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <article class="media content-section">
        <div class="media-body">
          <h2 class="about-title">Welcome to {{home.company_name}}</h2>
          <div class="flex-between">
            <div class="image-container">
              <p>{{home.article}}</p>
          </div>
          <div class="image-container">
              <img src="{{image}}" alt="Home Image" style="width: 100%; height: auto">
          </div>
          </div>
        </div>
      </article>
    
      {% if is_admin %}
        <a class="btn btn-primary mb-3" href="/home/edit">Edit Home Page</a>
      {% endif %}
      
{% endblock %}