{% extends "messenger/base.html" %}

{% block content %}

<p>Hey {{ current_user.name }}, you are now chatting with {{ user }}</p>
<p>Room #{{ room_name }}</p>

<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
<div id="message-holder"></div>

<form onsubmit="sendMessage();return false">
    <input type="text" class="message" id="message" placeholder="Type your message..."/>
    <input type="submit" name="send" id="send-btn" value="send"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script type="text/javascript">
    const socketio = io();

    const message_holder = $("#message-holder")[0];

    {# Add new message to message holder in page #}
    function createMessage(author, content, timestamp) {
        if(typeof author !== 'undefined') {
            $('h3').remove()
            const newMessage = document.createElement('div');
            newMessage.className = "text"
            newMessage.innerHTML = `
                <span>
                    <strong>${author}</strong>: ${content}
                </span>
                <span class="muted">
                    ${timestamp}
                </span>
            `;
            message_holder.appendChild(newMessage);
        }
    }

    {# Send message to the server #}
    function sendMessage() {
        const message = $("#message")[0];
        if (message.value === "") return;
        socketio.emit("save_message", { author_id: "{{current_user.id}}", content: message.value, room_id: "{{room_id}}"});
        message.value = "";
    }

    {# Listening for saved data from the server #}
    socketio.on('saved_message', (message) => {
        {# Trigger function to add message in page #}
        createMessage(message.author_name, message.content, message.timestamp);
    });
</script>
    
{% for msg in messages %}
<script type="text/javascript">
    createMessage("{{msg.author.name}}", "{{msg.content}}", "{{msg.timestamp}}");
</script>
{% endfor %}
    
{% endblock %}