/* Variables */
:root {
  --main-blue: #1a6b99;
  --hover-blue: #428bca;
  --highlight-grey: #b6b5b5;
}

/* General Styles */
html, body {
  margin: 0;
  height: 100%;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

header {
 background-color: var(--main-blue);
 height: 4rem;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content:space-around;
 padding: 0 1rem;
 position: fixed;
 top: 0;
 width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#535252,#d1cccc );
  padding: 8rem 0;
  min-height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-blue);
  color:#ffffff;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  color:inherit; 
  text-decoration:none; 
}

a:hover {
  color:inherit; 
  text-decoration:none; 
  cursor:pointer;  
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
/* Nav Bar */
.hamburger {
  display: none;
}

.header-navbar-container {
  display: flex;
  margin-right: 1.5rem;
}

.home-link {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header-link {
  margin-right: 0.5rem;
}

.header-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-links {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--main-blue);
  flex-direction: column;
}

.dropdown-content a {
  padding: 15px 30px;
  margin: 0px;
}

.dropdown-content a:hover {
  background-color: var(--hover-blue);
}

.dropdown:hover .dropdown-content {display: flex;}


/* Util */
.flex-between {
  display: flex;
  justify-content: space-between;
}


/* Site-wide */
.circle-button {
  margin-top: 0.25rem;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--main-blue);
  font-weight: 600;
  cursor: pointer;
}

.title {
  font-size: 3rem;
  margin-bottom:2rem;
}

.center-title {
  margin: 0 auto;
  width: fit-content;
}

.one-div {
  width: 50%;
}

.two-and-one-thirds-div {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0;
}

.two-thirds-div {
  margin:0 2rem 0 0;
}

.primary-button {
  border: none;
  background-color: var(--highlight-grey);
  border-color: rgb(90, 90, 90);
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: inherit;
  width: fit-content ;
}

.primary-button:hover {
  opacity: 0.8;
  color: black;
}

.text-button {
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  margin: 0 5px 0 5px;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
}

.text-button:hover {
  text-decoration: underline;
  color: inherit;
}

.text-buttons-container {
  display: flex;
  align-items: center;
}

.delete-form {
  width: fit-content;
}

.button-form {
  margin: 1rem 0;
}

.content-section {
  border: 1px solid #dddddd;
  padding: 2rem;
  border-radius: 3px;
  background-color: var(--main-blue);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.form-input {
 margin-top: 0.25rem;
 border-radius: 2px;
}

.image-container {
  width: 40%;
  margin: 1rem;
}

.upload-image {
  max-width:100%;
  max-height:100%;
  margin:1em;
}

.upload-image-container {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alternating-colors-table  {
  width: 100%;
  margin: 3rem 0;
  border: 1px solid white;
}

.alternating-colors-table p,a {
 margin:0.25rem
}

.alternating-colors-table td {
  padding: 0.5rem;
}

.alternating-colors-table-links {
  color: black;
  font-size: 1.5em
}

.alternating-colors-table tr:nth-child(odd) td{
  background-color: var(--highlight-grey);
  color: black;
}

.alternating-colors-table tr:nth-child(even) td{
  background-color: white;
  color: black;
}

.alternating-colors-table tr:nth-child(even) a{
  color: black;
}

.invisible-td {
  border: none;
}

/* Home */
.home-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 0 1rem;
}

.home-container p {
  margin: 3rem 0;
}

/* Blog */
.blog-content p {
  margin-bottom: 2rem;
}
.blog-content a {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.blog-links ul {
  padding-left: unset;
  list-style-type: none;
}

/* Paginate/ List1 */
.page-items {
  text-align: center;
}

.pagination-list {
  display: flex;
  gap: 10px;
}

.pagination-list input {
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--main-blue);
  font-weight: 600;
  cursor: pointer;
}

/* Profile/ Company Info */
.profile-info {
  background: var(--main-blue);
  padding: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  width: fit-content;
  margin: 0 auto;
  color: white;
}

.profile-side-info {
  background: var(--main-blue);
  padding: 1rem;
  border: 1px solid white;
  border-radius: 3px;
  height: fit-content;
  width: fit-content ;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-side-info a {
  font-size: 1.5rem;
}

.profile-title {
  font-size: 2rem;
}

.edit-profile-buttons {
  display: flex;
  justify-content: space-between;
}

.profile-info-container {
  margin: 1rem 0;
}

.profile-info-container p{
  margin: 0.5rem 0;
}

.company-info-table {
  margin: 2rem auto;
}

.company-info-table td,th {
  border: 1px white solid;
  padding: 0.5rem;
}

.company-list {
  padding: 1rem;
}

.company-list li{
  margin:0.5rem;
}

.member-grid {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* Forum/Tickets */
.thread-container {
  display: flex;
  justify-content: space-between;
}

.title-underline {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-bottom: 1rem;
}

.comment-title-underline {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.alternating-colors-table tr:nth-child(odd) .comment-title-underline{
  border-bottom: 1px solid white;
}

.alternating-colors-table tr:nth-child(even) .comment-title-underline{
  border-bottom: 1px solid black;
}

.post-container {
  background-color: white;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2px;
}
.post-info {
  margin: 0.5rem 0;
}

.post-content {
  margin-top: 3rem;
}

.ticket-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-input {
 margin: 0.5rem 0;
 width: 50%;
 border-radius: 2px;
}

/* Calendar */
.calendar-date {
  margin-bottom: 0.5rem;
}

/* About */
.social-media {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 0 5rem;
}

.icon {
  height: 2rem;
  width:  2rem;
}

.address {
  width: fit-content;
  padding: 2rem;
  margin: 2rem auto;
}

.address p {
  margin: 0.25rem 0;
}

.about-article-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

/* Products */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
}


.product-item:hover {
  opacity: 0.8;
}

.product-item img {
  height: 100%;
  width: 100%;
}

.product-display {
  background-color: var(--main-blue);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.product-display p {
  margin: 0.5rem 0;
}

.product-display img {
  height: 30%;
  width: 30%;
}

.product-edit-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-edit-description {
  width:50%;
  margin-bottom: 2rem;
}

/* Commonmark (add styles in here to adjust the commonmark elements) */

/* Tablet */

/* Smartphone */

@media screen and (max-width: 480px) {
  .header-navigation{
    display: none;
  }

  .responsive-nav {
    position: fixed;
    left:0;
    top:4rem;
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: white 1px solid;
  }

  .responsive-nav .main-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsive-nav a {
    margin-bottom: 2rem;
  }
  
  .hamburger {
    display: block;
    margin-right: 1rem;
  }
  .hamburger img{
   filter: invert(100%);
  }

  .header-navbar-container {
    justify-content: space-between;
  }

  .one-div {
    width: 80%;
  }

  .title {
    text-align: center;
  }

  .social-media {
    margin: 0;
    padding: 0;
  }

  .two-and-one-thirds-div {
    display: flex;
    flex-direction: column-reverse;
    width: 80%;
  }
  
  .two-thirds-div {
    width: 100%;
  }
  
  .one-third-div {
    width: 100%;
    margin-bottom: 2rem;
  }

  .profile-side-info {
    margin: 0 auto;
  }

  .ticket-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
