/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS MAIN */
/* Variables */
:root {
  --main-blue: #1a6b99;
  --hover-blue: #428bca;
}

/* General Styles */

html, body {
  margin: 0;
  height: 100%;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  
}

header {
 background-color: var(--main-blue);
 height: 4rem;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content:space-around;
 padding: 0 1rem;
 position: fixed;
 top: 0;
 width: 100%;
}

h1, h2, h3, p {
  color: white;
} 

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#535252,#d1cccc );
  padding-top: 4rem;
  height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-blue);
  color:#ffffff;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  color:inherit; 
  text-decoration:none; 
}

a:hover {
  color:inherit; 
  text-decoration:none; 
  cursor:pointer;  
}

/* Nav Bar */

.header-navbar-container {
  display: flex;
  margin-right: 1.5rem;
}

.home-link {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.header-link {
  margin-right: 0.5rem;
}

.header-navigation {
 flex-grow: 1;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.header-main-nav {

}

.header-profile-nav {

}

/* Site-wide */
.primary-button {

}

.text-button {
  border: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  margin: 0 5px 0 5px;
  padding: 0;
}

.text-button:hover {
  text-decoration: underline;
  color: inherit;
}

.delete-form {
  width: fit-content;
}


.alternating-colors-table  {
  width: 100%;
  margin-top:1em;
  margin-bottom: 1em;
}

.alternating-colors-table p {
  margin:0;
}

.alternating-colors-table-links {
  color: white;
  font-size: 1.5em
}

.alternating-colors-table tr:nth-child(odd) td{
  background-color: var(--main-blue);
  color: white;
}

.alternating-colors-table tr:nth-child(even) td{
  background-color: white;
  color: black;
}
.alternating-colors-table tr:nth-child(even) a{
  color: black;
}

.content-section {
  border: 1px solid #dddddd;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: var(--main-blue);
}


/* Home */
.home-container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding: 0px 20px;
}

/* Auth */
.authForm {
  max-width: 500px;
}

/* Account */
.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Profile */
.profile-info {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.profile-side-info {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


/* Forum */
.post-content {
  background-color: white;
  color: black;
  padding: 1em;
  margin-bottom: 1em;
}

.forum-title {
  font-size: 3em
}

.post-title {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

/* Calendar */
.date-box {
  border: 1px solid black;
}

/* About */
.about-title {
  color: white;
  font-size: 3em;
  margin-bottom: 2rem;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  padding: 0 5rem;
}

.icon {
  height: 2em;
  width:  2em;
}

.address {
  width: fit-content;
  padding: 2em;
  margin: 2em auto;
}

.image-container {
  width: 40%;
}

/* Products */
.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  margin-bottom: 1em;
}

.product-item {
  background-color: var(--main-blue);
  color: white;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.product-item:hover {
  background-color: var(--hover-blue);
}

.product-item img {
  height: 50%;
  width: 50%;
}

.product-display {
  background-color: var(--main-blue);
  color: white;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.product-display img {
  height: 30%;
  width: 30%;
}

.upload-image {
  max-width:100%;
  max-height:100%;
  margin:1em;
}

.upload-image-container {
  height: 50%;
  width: 50%;
}

/* Other */

/* Tablet */

/* Smartphone */

