{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
    <h1 class="center-title">Reset your password</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger center-title">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form class="form" method="POST" action="/reset-password/{{token}}">
          <!-- Lock email input by setting it "read-only" -->
            <div class="form-section">
                <label>Email address</label>
                <input class="form-input" type="email" name="email" placeholder="Your Email" value="{{email}}" readonly>
            </div> 
            <div class="form-section">
              <label>New Password</label>
              <input class="form-input" type="password" name="new_password"  placeholder="Your new password">
            </div>
            <div class="form-section">
              <label>Confirm New Password</label>
              <input class="form-input" type="password" name="confirm_new_password" placeholder="Confirm your new password">
            </div>
            <button class="primary-button g-recaptcha" type="submit" data-sitekey="{{ site_key }}" data-callback="onSubmit" data-action="submit" >Reset</button>
          </form>
{% endblock %}

{% block captchaScript %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.querySelector(".form").submit();
        }
    </script>
{% endblock %}
