{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <div class="content-section">
        <h1 class="title center-title">Sign Up</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger center-title">
                    {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form class="authForm form" method="POST" action="/signup">
                <div class="form-section">
                    <label>Email address</label>
                    <input class="form-input" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
        
                <div class="form-section">
                    <label>Name</label>
                    <input class="form-input" type="name" name="name" placeholder="Your Name">
                </div>
        
                <div class="form-section">
                    <label>Password</label>
                    <input class="form-input" type="password" name="password" placeholder="Your Password">
                </div>
                <button class="primary-button g-recaptcha" type="submit" data-sitekey="{{ site_key }}" data-callback="onSubmit" data-action="submit">Sign Up</button>
            </form>

    </div>

{% endblock %}

{% block captchaScript %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.querySelector(".authForm").submit();
        }
    </script>
{% endblock %}