{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <h2 class="forum-title">{{product.name}}</h2>
  <div class="product-display">
    <p>{{product.price}}</p>
    <p>{{product.description|commonmark}}</p>
    <img src="{{product.stock_image_url}}" alt="Product Image">
  </div>
  <a class="btn btn-primary" href="/products/edit/{{product.id}}">Edit Product</a>
  <form class="margin-top" method="post" action="/products/delete/{{product.id}}">
    <button class="btn btn-primary" type="submit">Delete</button>
  </form>
{% endblock %} 
