{% extends "layout/oneDiv.html" %}
{% import "macros/paginate.html" as pagination %}

{% block oneDivContent %}
<div class="content-section">
  <h2 class="title">Products</h2>
  <div class="product-grid">
    {% for product in products %}
      <a href="/products/{{product.id}}">
        {% if product.name %}
          <div>{{product.name}}</div>
        {% endif %}
        <div class="product-item">
          <img src="{{product.card_image_url|e}}" alt="Product Image">
        </div>    
      </a>
    {% endfor %}
  </div>
  {{ pagination.render_pagination(products, "") }}
  {% if is_admin %}
  <a class="primary-button" href="/products/create">New Product</a>
  {% endif %}
</div>

{% endblock %} 
