{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <h2 class="title">{{product.name}}</h2>
  <div class="product-display">
    <p>{{product.price}}</p>
    <p class="commonmark">{{product.description|commonmark}}</p>
    <img src="{{product.stock_image_url}}" alt="Product Image">
  </div>
  <a class="primary-button" href="/products/edit/{{product.id}}">Edit Product</a>
  <form class="button-form" method="post" action="/products/delete/{{product.id}}">
    <button class="primary-button" type="submit">Delete</button>
  </form>
{% endblock %} 
