{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
  <form class="form" method="POST" action="/products/edit/{{product.id}}" enctype=multipart/form-data>
    <div class="product-edit-container">
      <div class="form-section">
        <label for="name" >Product Name</label>
        <input
        class="form-input"
        type="text"
        name="name"
        id="name"
        value="{{product.name|e}}"/>
      </div>
      <div class="form-section">
        <label for="price">Price</label>
        <input
        class="form-input"
        type="text"
        name="price"
        id="price"
        value="{{product.price|e}}"/>
      </div>
    </div>
    <div class="form-section">
      <label for="tags" >Tags</label>
      <input
      class="form-input"
      type="text"
      name="tags"
      value="{{product.tags|e}}"
      id="tags">
  </div>
    <div class="form-section product-edit-description ">
        <label for="description" class="form-label">Description</label>
        <textarea
        rows="10"
        cols="10"
        class="form-input"
        name="description"
        id="description"
        value="{{product.description|e}}">
    </div>
    <div class="product-edit-container">
      <div class=" upload-image-container">
        <label for="file-large" >Large Image</label>
        <input type="file" name="file-large" class="form-input">
        <div class="upload-image-container">
          <p>Current:</p>
          <img class="upload-image" src="{{product.stock_image_url|e}}" alt="Stock Image">
        </div>
      </div>
      <div class=" upload-image-container">
        <label for="file-small" >Small Image</label>
        <input type="file" name="file-small" class="form-input">
        <div class="upload-image-container">
          <p>Current:</p>
          <img class="upload-image" src="{{product.card_image_url|e}}" alt="Card Image">
        </div>
      </div>
    </div>
      <button class="primary-button">Edit Product</button>
  </form>
{% endblock %}