{% extends "layout/oneDiv.html" %}
{% block tags %}
  {% if product.tags %}
      <meta name="keywords" content="{{product.tags|e}}">
  {% endif %}
{% endblock %}
{% block oneDivContent %}
  <div class="content-section">
    <h2 class="title">{{product.name|e}}</h2>
    <div class="product-display">
      <p>{{product.price|e}}</p>
      <div class="commonmark">{{product.description|commonmark|e}}</div>
      <img src="{{product.stock_image_url|e}}" alt="Product Image">
    </div>
    {% if is_admin %}
    <a class="primary-button" href="/products/edit/{{product.id}}">Edit Product</a>
    <form class="button-form" method="post" action="/products/delete/{{product.id}}">
      <button class="primary-button" type="submit">Delete</button>
    </form>
    {% endif %}
  </div>
{% endblock %} 
