{% extends "layout/oneThirdDivs.html" %}

{% block oneThirdContentLeft %}
<article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">Product 1</a></h2>
      <p class="article-content">This is a product.</p>
    </div>
</article>

{% endblock %}

{% block oneThirdContentMid %}
<article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">Product 2</a></h2>
      <p class="article-content">This is a product 2.</p>
    </div>
</article>

{% endblock %}

{% block oneThirdContentRight %}
<article class="media content-section">
    <div class="media-body">
      <h2><a class="article-title" href="#">Product 3</a></h2>
      <p class="article-content">This is a product 3.</p>
    </div>
</article>

{% endblock %}