{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/products/create">
            <div class="mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input
                class="form-control"
                type="text"
                name="name"
                id="name"
                placeholder="Title">
            </div>
            <div class="mb-2">
              <label for="price" class="form-label">Price</label>
              <input
              class="form-control"
              type="text"
              name="price"
              id="price">
          </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                class="form-control"
                name="description"
                id="description"
                placeholder="Something enlightening..."></textarea>
            </div>

            <button class="btn btn-primary">Create Product</button>
        </form>
    </div>
  </div>
{% endblock %}


