{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="content-section">
  <h2 class="title">Products</h2>
  <div class="product-grid">
    {% for product in products %}
      {% if product.title != "" or product.title != None %}
        <a href="/products/{{product.id}}">
          <div class="product-item">
            <img src="{{product.card_image_url}}" alt="Product Image">
          </div>    
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <a class="primary-button" href="/products/create">New Product</a>
</div>

{% endblock %} 
