{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="post-container">
  <h2 class="title">{{event.title|e}}</h2>
  <p class="post-info">Role: {{event.role_info.name|e}}</p>
  <p class="post-info">Start time: {{event.start_date|e}} @ {{event.start_time|e}}</p>
  <p class="post-info">End time: {{event.end_date|e}} @ {{event.end_time|e}}</p>
  {% if event.description %}
    <p class="post-info">Description: {{event.description|e}}</p>
  {% endif %}
  {% if event.location %}
    <p class="post-info">Location: {{event.location|e}}</p>
  {% endif %}
</div>
{% endblock %}