{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="post-container">
  <h2 class="title">{{event.title}}</h2>
  <p class="post-info">Role: {{event.role_info.name}}</p>
  <p class="post-info">Start time: {{event.start_date}} @ {{event.start_time}}</p>
  <p class="post-info">End time: {{event.end_date}} @ {{event.end_time}}</p>
  {% if event.description %}
    <p class="post-info">Description: {{event.description}}</p>
  {% endif %}
  {% if event.location %}
    <p class="post-info">Location: {{event.location}}</p>
  {% endif %}
</div>
{% endblock %}