{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
<div class="post-container">
  <div class="title-underline">
    <h2 class="post-title">{{event.title|e}}</h2>
    <p class="post-info">Created by {{event.organizer|e}}  @ {{event.date_created|e}}</p>
  </div>
  <p class="post-info">Role: {{event.role_info.name|e}}</p>
  <p class="post-info">Start time: {{event.start_date|e}} @ {{event.start_time|e}}</p>
  <p class="post-info">End time: {{event.end_date|e}} @ {{event.end_time|e}}</p>
  {% if event.description %}
    <p class="post-info">Description: {{event.description|e}}</p>
  {% endif %}
  {% if event.location %}
    <p class="post-info">Location: {{event.location|e}}</p>
  {% endif %}
</div>
{% endblock %}