{% extends "layout/fullPageScroll.html" %}

{% block pageDropDowns %}
  {% if is_admin %}
    <a  href="/jobs/{{job.id}}/edit">Edit Job</a>
    <form method="post" action="/jobs/{{job.id}}/delete">
      <button  type="submit">Delete</button>
    </form>
    {% else %}
    <a href="/applications/my-applications">My Applications</a>
  {% endif %}
{% endblock %}

{% block pageContent %}
    <p>{{job.job_title|e}}</p>
    <div class="commonmark">{{job.short_description|commonmark|e}}</div>
    <p>{{job.department|e}}</p>
    <p>{{job.salary|e}}</p>
    <p>{{job.location|e}}</p>
    <div class="commonmark">{{job.long_description|commonmark|e}}</div>
    <p>{{job.hiring_manager|e}}</p>
    <p>Posted on {{ job.date_posted.strftime('%B %d, %Y') }}</p>

    {% if not is_admin %}
      {% if not user_applied %}
        <form method="get" action="/applications/{{job.id}}/application">
          <button type="submit">Apply</button>
        </form>
      {% else %}
        <p>You have already applied for this job. <a href="/applications/{{ job.id }}/application/{{ user_application_id }}">View Application</a></p>
      {% endif %}
    {% else %}
      <p>This job has received {{ applications|length }} applications</p>
      <a href="/jobs/{{ job.id }}/applications">View Applications</a>
  {% endif %}

{% endblock %} 
