{% extends "layout/fullPageScroll.html" %}

{% block pageContent %}
  <form class="form" method="POST" action="/jobs/create">
    <div class="job-edit-container"> <!--should this be job-create-container?-->
      <div class="form-section">
        <label for="job_title">Job Title</label>
        <input
        class="form-input"
        type="text"
        name="job_title"
        id="job_title"
        placeholder="Job Title">
      </div>
      <div class="form-section">
        <label for="short_description">Short Description</label>
        <input
        class="form-input"
        type="text"
        name="short_description"
        id="short_description"
        placeholder="Write a brief description">
      </div>
      <div class="form-section">
        <label for="long_description">Long Description</label>
        <input
        class="form-input"
        type="text"
        name="long_description"
        id="long_description">
      </div>
      <div class="form-section">
        <label for="department">Department</label>
        <input
        class="form-input"
        type="text"
        name="department"
        id="department">
      </div>
      <div class="form-section">
        <label for="salary">Salary</label>
        <input
        class="form-input"
        type="text"
        name="salary"
        id="salary">
      </div>
      <div class="form-section">
        <label for="location">Location</label>
        <input
        class="form-input"
        type="text"
        name="location"
        id="location">
      </div>
      <div class="form-section">
        <label for="hiring_manager">Hiring Manager</label>
        <input
        class="form-input"
        type="text"
        name="hiring_manager"
        id="hiring_manager">
      </div>
      <div class="form-section">
        <label for="date_posted">Date Posted</label>
        <input
        class="form-input"
        type="datetime-local"
        name="date_posted" required>
      </div>
    </div>

      <button class="primary-button">Create Job</button>
  </form>
{% endblock %}