{% extends "blog/blog_main.html" %}

{% block blogContent %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <!-- <a class="mr-2" href="#"></a> -->
        <small class="text-muted">Pengin Open Source</small>
      </div>
      <h2><a class="article-title" href="#">Blog</a></h2>
      <p class="article-content">Welcome to the blog section. Feel free to click on an
        article in the pane to the left</p>
    </div>
  </article>    

{% endblock blogContent %}