{% extends "layout/twoAndOneThirdDivs.html" %}

{% block twoThirdContent %}
    <div class="blog-content">
        {% block blogContent %}{% endblock %}
    </div>
{% endblock %}

{% block oneThirdContent %}
    <div class="blog-links content-section">
        <h1>Links</h1>
        {% for link in links %}
        <div class="blog-link-item" style="color: white">
            <a href="/blog/{{ link.id }}">
                {{ link.title }}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}


