{% extends "twoAndOneThirdDivs.html" %}

{% block twoThirdContent %}
    <div class="blog-content">
        
        {% block blogContent %}{% endblock %}
    </div>
{% endblock %}

{% block oneThirdContent %}
    <div class="blog-links">
        
        
        <h1>links</h1>
        {% for link in links %}
        <div class="blog-link-item">
            <a href="/blog/{{ link.id }}">
                {{ link.title }}
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}


