{% extends "blog_main.html" %}

{% block blogContent %}
<div class="column">
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/blog/create">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Title" autofocus="">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" name="content" id="content" placeholder="Something enlightening..."></textarea>
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input class="form-control" type="text" name="tags" id="tags" placeholder="">
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Post</button>
        </form>
    </div>
</div>
{% endblock %}
