{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/tickets/edit/{{comment.id}}">
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea
                class="form-control"
                name="content"
                id="content">{{comment.content}}</textarea>
            </div>
            <button class="btn btn-primary">Post Comment</button>
        </form>
    </div>
  </div>
{% endblock %}