{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <form class="form" method="POST" action="/tickets/edit/ticket/{{ticket.id}}">
        <div class="form-section">
            <label for="summary" >Summary</label>
            <input
            class="form-input"
            type="text"
            name="summary"
            id="summary"
            value="{{ticket.summary|e}}">
        </div>
        <div class="form-section">
            <label for="content" >Content</label>
            <textarea
            class="form-input"
            name="content"
            id="content">{{ticket.content|e}}</textarea>
        </div>
        <div class="form-section">
            <label for="tags">Tags</label>
            <input
            class="form-input"
            type="text"
            name="tags"
            value="{{ticket.tags|e}}"
            id="tags">
        </div>
        <button class="primary-button">Post Ticket</button>
    </form>
{% endblock %}


