{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/tickets/edit-status/{{ticket_id}}">
            <div class="mb-3">
              <label for="status" class="form-label">Change Ticket Status:</label>
              <select id="status" name="status" class="form-control">
                <option value="open">Open</option>
                <option value="closed">Closed</option>
                <option value="resolved">Resolved</option>
              </select> 
            <button class="btn btn-primary">Post Comment</button>
        </form>
    </div>
  </div>
{% endblock %}