{% extends "forums/alternating_color_table.html" %}

{% block beforeTableContent %}
  <div class="post-content">
    <h2 class="forum-title">{{ticket.summary}}</h2>
    <p>{{ticket.date}}</p>
    <p>{{ticket.content}}</p>
  </div>
{% endblock %}

{% block tableContent %}
  {% for comment in comments %}
  <tr><td>
    <div class="media">
      <div class="media-body">
        <div class="article-metadata small-padding">by {{comment.author_id}} at {{comment.date}}</div>
        <p class="article content small-padding">{{comment.content}}</p>
        {% if current_user.is_authenticated %}
          {% if is_admin or can_delete(comment.id).can()%}
            <form method="post" action="/tickets/delete/ticket-comment/{{comment.id}}">
              <button class="btn" type="submit">Delete</button>
            </form>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </td></tr>
  {% endfor %}
{% endblock %}

{% block postTableContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/tickets/{{ticket.id}}">

            <div class="mb-3">
                <label for="content" class="form-label">Comment</label>
                <input
                class="form-control"
                type="text"
                name="content"
                id="content"
                placeholder="What do you think of this ticket?">
            </div>
            <button class="btn btn-primary">Post</button>
        </form>
    </div>
  </div>
{% endblock %}
