{% extends "layout/alternating_color_table.html" %}
{% import "macros/paginate.html" as pagination %}

{% block beforeTableContent %}
  <div class="">
    <h2 class="title">{{title|e}}</h2>
    <div>
      <a class="text-button" href="/tickets?status=all">all</a>|
      <a class="text-button" href="/tickets?status=resolved">resolved</a>|
      <a class="text-button" href="/tickets?status=open">open</a>|
      <a class="text-button" href="/tickets?status=closed">closed</a>
    </div>
  </div> 
{% endblock %}

{% block tableContent %}
  {% for ticket in tickets %}
  <tr><td class="">
    <a class="alternating-colors-table-links" href="/tickets/{{ticket.id}}">{{ticket.summary|e}}</a>
    <p class="">Resolution Status: {{ticket.resolution_status|upper|e}}</p>
  </td></tr>
  {% endfor %}
{% endblock %}

{% block postTableContent %}
  {{ pagination.render_pagination(tickets, "") }}
  <a class="primary-button" href="/tickets/create">Create Ticket</a>
{% endblock %}