{% extends "layout/alternating_color_table.html" %}
{% import "macros/forum_tickets/comment_form.html" as comment_form %}
{% import "macros/forum_tickets/comments_render.html" as comments_render %}
{% import "macros/forum_tickets/post_ticket_content.html" as content %}

{% block tags %}
  {% if ticket.tags %}
    <meta name="keywords" content="{{ticket.tags|e}}">
  {% endif %}
{% endblock %}

{% block pageDropDowns%}
  {% if is_admin or can_delete_ticket(ticket.id).can() %}
    <form method="post" action="/tickets/delete/ticket/{{ticket.id}}">
      <button type="submit">Delete</button>
    </form> 
  {% endif %}
  {% if is_admin or can_edit_ticket(ticket.id).can() %}
    <a href="/tickets/edit/ticket/{{ticket.id}}">Edit</a>
  {% endif %}
  <a href="/tickets/edit-status/{{ticket.id}}">Change Resolution Status</a>
{% endblock %}

{% block beforeTableContent %}
  {{ content.render_content(ticket.summary, author, ticket.date, ticket.content, ticket.resolution_status, ticket.resolution_date ) }}
{% endblock %}

{% block tableContent %}
  {{ comments_render.render_comments(comments, comment_authors, current_user, can_delete_comment, can_edit_comment, "/tickets/delete/ticket-comment/{{comment.id}}", "/tickets/edit/ticket-comment/{{ticket.id}}/{{comment.id}}") }}
  {% if ticket.tags == 'order-change-request'%}
    <a><button>Review Changes</button></a>
  {% elif ticket.tags == 'order-cancel-request' %}
    <a><button>Review Order</button></a>
  {% endif %}
{% endblock %}


{% block postTableContent %}
  {{ comment_form.render_comment_form("ticket", "/tickets/{{ticket.id}}") }}
{% endblock %}
