{% extends "forums/alternating_color_table.html" %}

{% block beforeTableContent %}
  <h2 class="forum-title">{{title}}</h2>
{% endblock %}

{% block tableContent %}
  {% for ticket in tickets %}
  <tr><td class="flex-between">
    <a class="small-padding" href="/tickets/{{ticket.id}}">{{ticket.summary}}</a>
    {% if current_user.is_authenticated %}
      {% for role in current_user.roles  %}
        {% if role.name == "admin" %}
        <form method="post" action="/tickets/delete/ticket/{{ticket.id}}">
          <button class="btn" type="submit">Delete</button>
        </form>
        {% endif %}
      {% endfor %}
    {% endif %}
  </td></tr>
  {% endfor %}
{% endblock %}

{% block postTableContent %}
  <a class="btn btn-primary" href="/tickets/create">Create Ticket</a>
{% endblock %}