{% extends "layout/fullPageScroll.html" %}
{% import "macros/paginate.html" as pagination %}

{% block pageContent %}
<div class="container">
    <h2>Edit Company Members</h2>
    <form method="POST" action="{{ url_for('company_ticket.handle_edit_company_members_ticket', company_id=company.id) }}">
        <div class="form-section">
            {% for user in users %}
            <div class="checkbox">
                <label>
                    <!-- Ensure the correct usage of existing_member_ids for checking -->
                    <input type="checkbox" name="member_ids[]" value="{{ user.id }}" {% if user.id|string in existing_member_ids %} checked {% endif %}>
                    {{ user.name }}
                </label>
            </div>
            {% endfor %}
            <input type="hidden" name="company_id" value="{{ company.id }}">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>
{% endblock %}
