{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <div class="content-section">
        <form class="form" method="POST" action="/forums/{{thread_id}}/create">
            <div class="form-section">
                <label for="title" >Title</label>
                <input
                class="form-input"
                type="text"
                name="title"
                id="title"
                placeholder="Title">
            </div>
            <div class="form-section">
                <label for="content" >Content</label>
                <textarea
                class="form-input"
                name="content"
                id="content"
                placeholder="Something enlightening..."></textarea>
            </div>
            <div class="form-section">
                <label for="tags" >Tags</label>
                <input
                class="form-input"
                type="text"
                name="tags"
                id="tags">
            </div>
            <button class="primary-button">Post</button>
        </form>
    </div>

{% endblock %}


