{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/forums/create">
            <div class="mb-3">
                <label for="thread" class="form-label">Thread Name</label>
                <input
                class="form-control"
                type="text"
                name="thread"
                id="thread"
                placeholder="Thread Name">
            </div>
            <button class="btn btn-primary">Post</button>
        </form>
    </div>
  </div>
{% endblock %}
