{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
  <div class="column">
    <div class="box">
        <form method="POST" action="/forums/{{thread_id}}/{{post_id}}/{{comment_id}}/edit">
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea
                class="form-control"
                name="content"
                id="content"
                placeholder="{{comment.content}}"></textarea>
            </div>
            <button class="btn btn-primary">Post Comment</button>
        </form>
    </div>
  </div>
{% endblock %}