{# Forum post title view #}

{% macro forum_post_title(post) %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
    </div>
  </article>
{% endmacro %}

{# Forum thread view #}
{% macro forum_thread(thread, posts) %}
  <article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="forums/{{thread}}">{{ thread }}</a>
        </div>
        <ul>
            {% for post in posts %}
            <li>
                <a href="forums/post/{{post.id}}"> 
                    {{ post.title}} - {{ post.author }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
  </article>
{% endmacro %}