{% extends "layout/alternating_color_table.html" %}
{% import "macros/forum_tickets/comment_form.html" as comment_form %}
{% import "macros/forum_tickets/comments_render.html" as comments_render %}

{% block tags %}
  {% if post.tags %}
    <meta name="keywords" content="{{post.tags|e}}">
  {% endif %}
{% endblock %}

{% block pageDropDowns%}
  {% if is_admin or can_delete_post(post.id).can() %}
    <form method="post" action="/forums/delete/post/{{post.id}}">
      <button style="margin-left: 0;" type="submit">Delete</button>
    </form> 
  {% endif %}
  {% if is_admin or can_edit_post(post.id).can() %}
    <a href="/forums/{{thread_id}}/{{post.id}}/edit">Edit</a>
  {% endif %}
{% endblock %}


{% block beforeTableContent %}
  <div class="post-container">
    <div class="title-underline ">
      <h2 class="post-title">{{post.title|e}}</h2>
      <p class="post-info">By {{author|e}} ({{post.date|e}})</p>
    </div>
    <div class="post-content commonmark">{{post.content|commonmark|e}}</div>
  </div>
{% endblock %}

{% block tableContent %}
  {{ comments_render.render_comments(comments, comment_authors, current_user, can_delete_comment, can_edit_comment, "/forums/delete/comment/{{comment.id}}", "/forums/{{thread_id}}/{{post_id}}/{{comment.id}}/edit") }}
{% endblock %}

{% block postTableContent %}
  {{ comment_form.render_comment_form("post", "/forums/{{thread_id}}/{{post.id}}") }}
{% endblock %}
