{% extends "layout/alternating_color_table.html" %}
{% import "macros/paginate.html" as pagination %}

{% block beforeTableContent %}
  <h2 class="title">{{title|e}}</h2>
{% endblock %}

{% block tableContent %}
  {% for thread in threads %}
  <tr><td class="thread-container">
    <a class="alternating-colors-table-links " href="/forums/{{thread.id}}">{{ thread.name|e }}</a>
      {% if is_admin %}
      <form method="post" action="/forums/delete/thread/{{thread.id}}">
        <button class="primary-button" type="submit">Delete</button>
      </form>
      {% endif %}
  </td></tr>
  {% endfor %}
{% endblock %}

{% block postTableContent %}
    {{ pagination.render_pagination(threads, "") }}
    {% if is_admin %}
      <a class="primary-button" href="/forums/create">Create Thread</a>
    {% endif %}
{% endblock %}
