{% extends "forums/alternating_color_table.html" %}
{% block beforeTableContent %}
  <h2 class="forum-title">{{title}}</h2>
{% endblock %}
{% block tableContent %}
  {% for post in posts %}
  <tr><td class="flex-between">
    <a class="small-padding" href="/forums/{{thread_id}}/{{post.id}}">{{post.title}}</a>
    <form method="post" action="/forums/delete/post/{{post.id}}">
      <button class="btn" type="submit">Delete</button>
    </form>
  </td></tr>
  {% endfor %}
{% endblock %}
{% block postTableContent %}
  <a class="btn btn-primary" href="/forums/{{thread_id}}/create">Create Post</a>
{% endblock %}