{% extends "forums/alternating_color_table.html" %}

{% block beforeTableContent %}
  <h2 class="forum-title">{{title}}</h2>
{% endblock %}

{% block tableContent %}
  {% for thread in threads %}
  <tr><td class="flex-between">
    <a class="small-padding alternating-colors-table-links " href="/forums/{{thread.id}}">{{ thread.name }}</a>
      {% if is_admin %}
      <form method="post" action="/forums/delete/thread/{{thread.id}}">
        <button class="btn" type="submit">Delete</button>
      </form>
      {% endif %}
  </td></tr>
  {% endfor %}
{% endblock %}

{% block postTableContent %}
    {% if is_admin %}
      <a class="btn btn-primary" href="/forums/create">Create Thread</a>
    {% endif %}
{% endblock %}
