{% extends "layout.html" %}
{% block tags %}{% endblock %}
{% block content %}
  <div class="full-page">
    <div class="full-page-scroll-container">
        <div class="top-bar">
            <h2 class="section-title">{{section_title}}</h2>
            <div class="admin-hamburger">             
                <div class="dropdown">
                <div class="dropdown-btn"><img class="icon" src="{{ url_for ('static', filename = 'icons/menu-icon.svg')}}" alt="Hamburger Icon"></div>
                <div class="dropdown-content">
                  {% block pageDropDowns %}{% endblock %}
                </div>
              </div> 
            </div>
        </div>
      <div class="full-page-scroll-content">
        <h3 class="item-title">{{item_title}}</h3>
        {% block pageContent %}{% endblock %}
        <div class="button-section">{% block buttons %}{% endblock %}</div>  
      </div>
    </div>
  </div>


{% endblock %}