{% extends "layout.html" %}

{% block content %}
    <div class="main-container">
        <div class="top-bar">
            <h2 class="section-title">{{primary_title}}</h2>
            <div class="main-nav-links">
                  {% block navBarMiddleSection %}{% endblock %}   
            </div>
            <div class="right-nav-container">
              <div class="dropdown">
                <div class="dropdown-btn">{{item_list_title}}</div>
                <div class="dropdown-content">
                  {% block navBarItemList  %}{% endblock %}  
                </div>
              </div> 
              <div class="page-hamburger"> 
                  <div class="dropdown">
                    <div class="dropdown-btn"><img class="icon" src="{{ url_for ('static', filename = 'icons/menu-icon.svg')}}" alt="Hamburger Icon"></div>
                    <div class="dropdown-content">
                      {% block pageDropDowns %}{% endblock %}
                    </div>
                  </div> 
              </div>
            </div>
        </div>
        <div class="content-container">
            <div class="item-title-container">
                <h3 class="item-title">{{secondary_title}}</h3>
                <p class="author-date-info">{{author_date_info}}</p>
            </div>
            <div class="page-content">{% block pageContent %}{% endblock %}</div>
            <div class="button-section">{% block buttons %}{% endblock %}</div>     
        </div>
    </div>
{% endblock %}