{% macro chatgui() %}
{# empty div to send flask_login.current_user name and id to javascript #}
{# optionally, can use fetch from JS instead #}
<div id="current-user" data-name="{{ current_user.name }}"></div>
<div id="message-display" class="full-page-message">
    <div class="full-page-scroll-container">
        <div class="top-bar">
            <h2 class="section-title"></h2>
            <div class="main-nav-links"></div>
            <div class="right-nav-container">
                <button onclick="closeMessage()" id="close-message-btn">
                    <strong> X </strong>
                </button>
            </div>
        </div>
        <div class="full-page-scroll-content">
            <div class="content-section">
                <div class="content-section-div-1">
                    <div class="content-section-p" id="user-section">
                        <div class="message-top-bar">
                            <p id="user-list-head" class="top-bar-title">USERS</p>
                            <div class="main-nav-links"></div>
                            <div class="right-nav-container">
                                <button onclick="displayUser()" id="user-btn">_</button>
                            </div>
                        </div>
                        <div class="message-grid-container" id="user-container">
                            {% for user in chat_users %}
                                <div class="message-grid-item">
                                    <input type="submit" value="{{ user.name }}" data-user-id="{{ user.id }}" class="btn-select-user" />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="content-section-p" id="group-section">
                        <div class="message-top-bar">
                            <p id="group-list-head" class="top-bar-title">GROUPS</p>
                            <div class="main-nav-links"></div>
                            <div class="right-nav-container">
                                <button onclick="displayGroup()" id="group-btn">
                                    _
                                </button>
                            </div>
                        </div>
                        <div class="message-grid-container" id="group-container">
                                {% for group in groups %}
                                <div class="message-grid-item">
                                    <input type="submit" value="{{group.name}}" data-room-id="{{ group.id }}" class="btn-select-room" />
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="content-section-div-2">
                    <div class="message-display">
                    <!-- Content Now Dynamically Filled in by JS SCRIPT-->
                    </div>
                    <form id="chat-form" class="message-form" onsubmit="sendMessage();return false">
                        <div class="message-form-section">
                            <textarea rows="6" class="message_text" name="chat_message" id="chat_message"
                                placeholder="Text your message..."> </textarea>
                            <input type="submit" value="Send" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for ('static', filename = 'javascript/jquery/1.12.4/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename = 'javascript/socket.io/4.0.1/socket.io.js')}}"></script>
<script src="{{ url_for ('static', filename = 'javascript/chat.js')}}"></script>

{% endmacro %}

{% macro chatbutton() %}
<div>
    <button onclick="displayBtn()" id="message-btn">Chat</button>
</div>
{% endmacro %}
