{% macro render_form(items, endpoint) %}
  <form class="form" method="POST" action="{{endpoint}}" enctype="multipart/form-data">
    {% for item in items %}
      <div class="form-section">
        <label for="{{item.name}}" >{{item.label}}</label>
        <input
          class="form-input"
          type="{{item.type}}"
          name="{{item.name}}"
          id="{{item.name}}"
          {% if item.placeholder is defined %}placeholder="{{item.placeholder}}"{% endif %}
        >
      </div>
    {% endfor %}
    <button class="primary-button">Save</button>
  </form>
{% endmacro %}
