{% macro render_pagination(items, endpoint) %}
  {% if items.pages > 1%}
  <div class=page-items>
    {{ items.first }} - {{ items.last }} of {{ items.total }}
  </div>
  <div class=pagination>
    <form class="form" method="POST" action="{{endpoint}}" enctype=multipart/form-data>
      <div class="pagination-list">
        {% for page in items.iter_pages() %}
          {% if page != items.page %}
            <div><input type="submit" name="page_number" value="{{ page }}" class="form-input"></div>
          {% endif %}
        {% endfor %}
      </div>
    </form>
  </div>
  {% endif %}
{% endmacro %}
