{% macro render_pagination(items, endpoint) %}
  <div class=page-items>
    {{ items.first }} - {{ items.last }} of {{ items.total }}
  </div>
  <div class=pagination>
    <form class="form" method="POST" action="{{endpoint}}" enctype=multipart/form-data>
    <ul>
        {% for page in items.iter_pages() %}
      {% if page %}
        {% if page != items.page %}
          <li><input type="submit" name="page_number" value="{{ page }}" class="form-input"></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
    </form>
  </div>
{% endmacro %}
