{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
    <article class="media content-section">
        <div class="media-body">
            <h2 class="about-title">{{about.name}}</h2>
            <p>{{about.article}}</p>
            <div class="address">
                <p>{{about.address1}}</p>
                <p>{{about.address2}}</p>
                <p>{{about.city}}</p>
                <p>{{about.state}}</p>
                <p>{{about.country}}</p>
                <p>Telephone: {{about.phone}}</p>
            </div>
            <div class="social-media">
                <!-- https://www.iconfinder.com/collections/collection/1672006 Icons -->
                <a href="{{about.facebook}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/facebook.png')}}" alt="FaceBook"></a>
                <a href="{{about.twitter}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/twitter.png')}}" alt="Twitter"></a>
                <a href="{{about.instagram}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/insta.png')}}" alt="Instagram"></a>
                <a href="{{about.linkedin}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/linkedin.png')}}" alt="LinkedIn"></a>
                <a href="{{about.whatsapp}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/whatsapp.png')}}" alt="Whatsapp"></a>
                <a href="{{about.youtube}}}"><img class="icon" src="{{ url_for ('static', filename = 'icons/youtube.png')}}" alt="Youtube"></a>
            </div>
        </div>
    </article>
{% endblock %}
