{% extends "about/about_main.html" %}

{% block aboutContent %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#"></a>
        <small class="text-muted">Pengin Open Source</small>
      </div>
      <h2><a class="article-title" href="#">About</a></h2>
      <p class="article-content">{% block name %}{% endblock name %}</p>
      <p class="article-content">{% block article %}{% endblock article %}</p>
      <p class="article-content">{% block linkedin %}{% endblock linkedin %}</p>
      <p class="article-content">{% block facebook %}{% endblock facebook %}</p>
      <p class="article-content">{% block twitter %}{% endblock twitter %}</p>
      <p class="article-content">{% block instagram %}{% endblock block instagram %}</p>
    </div>
  </article>    

{% endblock blogContent %}