{% extends "layout/oneDiv.html" %}

{% block oneDivContent %}
<div class="content-section">
    <h1 class="title">Update About</h1>
    <form class="form" method="POST" action="/about/edit" enctype="multipart/form-data">
        <div class="form-section">
            <label for="name" >Name</label>
            <input
            class="form-input"
            type="text"
            name="name"
            id="name"
            value="{{about.name|e}}">
        </div>
        <div class="form-section">
            <label for="article">Main Text</label>
            <textarea
            class="form-input"
            name="article"
            id="article"
            >{{about.article|e}}</textarea>
        </div>
        <div class="form-section">
            <label for="facebook">Facebook</label>
            <input
            class="form-input"
            type="text"
            name="facebook"
            id="facebook"
            value="{{about.facebook|e}}"
            >
        </div>
        <div class="form-section">
            <label for="twitter">Twitter</label>
            <input
            class="form-input"
            type="text"
            name="twitter"
            id="twitter"
            value="{{about.twitter|e}}"
            >
        </div>
        <div class="form-section">
            <label for="instagram">Instagram</label>
            <input
            class="form-input"
            type="text"
            name="instagram"
            id="instagram"
            value="{{about.instagram|e}}"
            >
        </div>
        <div class="form-section">
            <label for="whatsapp">Whatsapp</label>
            <input
            class="form-input"
            type="text"
            name="whatsapp"
            id="whatsapp"
            value="{{about.whatsapp|e}}"
            >
        </div>
        <div class="form-section">
            <label for="linkedin">LinkedIn</label>
            <input
            class="form-input"
            type="text"
            name="linkedin"
            id="linkedin"
            value="{{about.linkedin|e}}"
            >
        </div>
        <div class="form-section">
            <label for="youtube">Youtube</label>
            <input
            class="form-input"
            type="text"
            name="youtube"
            id="youtube"
            value="{{about.youtube|e}}"
            >
        </div>
        <div class="form-section">
            <label for="phone">Phone Number</label>
            <input
            class="form-input"
            type="text"
            name="phone"
            id="phone"
            value="{{about.phone|e}}"
            >
        </div>
        <div class="form-section">
            <label for="address1">Address line 1</label>
            <input
            class="form-input"
            type="text"
            name="address1"
            id="address1"
            value="{{about.address1|e}}"
            >
        </div>
        <div class="form-section">
            <label for="address2">Address line 2</label>
            <input
            class="form-input"
            type="text"
            name="address2"
            id="address2"
            value="{{about.address2|e}}"
            >
        </div>
        <div class="form-section">
            <label for="city">City</label>
            <input
            class="form-input"
            type="text"
            name="city"
            id="city"
            value="{{about.city|e}}"
            >
        </div>
        <div class="form-section">
            <label for="state" >State</label>
            <input
            class="form-input"
            type="text"
            name="state"
            id="state"
            value="{{about.state|e}}"
            >
        </div>
        <div class="form-section">
            <label for="country">Country</label>
            <input
            class="form-input"
            type="text"
            name="country"
            id="country"
            value="{{about.country|e}}"
            >
        </div>
        <div class="form-section">
            <label for="article">Tags</label>
            <input
            class="form-input"
            type="text"
            name="tags"
            id="tags"
            value="{{about.tags|e}}">
        </div>
        <div class="form-section upload-image-container">
            <label for="file" >Image</label>
            <input type="file" name="file" class="form-input">
            <div class="upload-image-container">
                <p>Current:</p>
                <img class="upload-image" src="{{image|e}}" alt="About Image">
            </div>
        </div>
        <button class="primary-button">Update</button>
    </form>

</div>

{% endblock %}