{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h2 class="title">Skeleton, TODO</h2>
    <h3 class="title">New Blog Post</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/post/new">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="title" name="title" id="title" placeholder="Title" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea class="blogContent" type="text" name="content" id="content"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="title" name="tags" id="tags" placeholder="tags">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Post</button>
        </form>
    </div>
</div>
{% endblock %}
