      
{% extends "layout.html" %}
{% block content %}
    <!--Flask uses jinja2 a templating engine. lets you write code in the template-->
    <!--for loop to loop through the list of posts -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    <!--closing a code block -->
    {% endfor %}
{% endblock content %}