      
{% extends "oneDiv.html" %}
Forums
{% block oneDivContent %}
    <!--Flask uses jinja2 a templating engine. lets you write code in the template-->
    <!--for loop to loop through the list of folders -->
    {% for folder in folders %}
    <div class="forum-folder mb-2 p-2">
      <div class="d-flex flex-row align-items-center">
          <img src="{{ url_for('static', filename='images/folder.svg') }}" />
          <h1 class="ml-2"><a href="/forums/{{folder.name}}"> {{folder.name}} </a></h1>
      </div>
      <div>
        <ul>
        {% for post in folders_posts[folder.name] %}
        <li>
          <a href="/forums/{{folder.name}}/{{post.id}}">{{post.title}} - {{post.author}}</a>
        </li>
        {% endfor %}
      </ul>
      </div>
    </div>
    {% endfor %}

    <!--for loop to loop through the list of posts -->
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    <!--closing a code block -->
    {% endfor %}
{% endblock %}