<!-- Template inheritance: this template is the parent, while others are the children-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'new.css')}}">
  {% if title %}
    <title>{{company_name}} - {{ title }} </title>
  {% else %}
    <title>{{company_name}} </title>
  {% endif %}
  <script>
    document.cookie = "time_zone=" + Intl.DateTimeFormat().resolvedOptions().timeZone;
  </script>
</head>

<body>
  <header>
    <nav class="header-navbar-container">
        <a class="home-link" href="/">{{company_name}}</a>
        <div class="header-navigation">
          <div>
            <a class="header-link" href="/about">About Us </a>
            <a class="header-link" href="/products">Products</a>
            <a class="header-link" href="/forums">Forums</a>
            <a class="header-link" href="/blog">Blog</a>
            <a class="header-link" href="/tickets?status=all">Tickets</a>
            <a class="header-link" href="/calendar">Calendar</a>
          </div>
          <div>
            {% if current_user.is_authenticated %}
                {% if is_admin %}
                  <a class="header-link" href="/blog/create">New Blog</a>
                {% endif %}
              <a class="header-link" href="/profile">Profile</a>
              <a class="header-link" href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
              <a class="header-link" href="/login">Login</a>
              <a class="header-link" href="/signup">Sign Up</a>
            {% endif %}
          </div>
        </div>
    </nav>
  </header>
  <main>
  <!-- Andy: Commented out alerts in layout.html. I'm currently putting alerts in the children templates. -->
    {#
      {%with messages = get_flashed_messages(with_categories = true) %}
        {% if messages%}
          {% for category, message in messages%}
          <div class = "alert alert-{{category}}">
            {{ message }} 
          </div>
          {%endfor%}
        {% endif%}
      {% endwith %}
    #}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Tobu Pengin {{copyright}}</p>
  </footer>

  {% block captchaScript %}{% endblock %}
</body>
</html>