<!-- Template inheritance: this template is the parent, while others are the children-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'new.css')}}">
  {% if title %}
    <title>{{company_name}} - {{ title }} </title>
  {% else %}
    <title>{{company_name}} </title>
  {% endif %}
</head>

<body>
  <header class="">
    <nav class="">
        <a class="" href="/">{{company_name}}</a>
        <div class="" id="navbarToggle">
          <div class="">
            <a class="" href="/">Home</a>
            <a class="" href="/about">About Us </a>
            <a class="" href="/products">Products</a>
            <a class="" href="/forums">Forums</a>
            <a class="" href="/blog">Blog</a>
            <a class="" href="/tickets?status=all">Tickets</a>
            <a class="" href="/calendar">Calendar</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="">
            {% if current_user.is_authenticated %}
              
                {% if is_admin %}
                  <a class="" href="/blog/create">New Blog</a>
                {% endif %}
              
              <a class="" href="/profile">Profile</a>
              <a class="" href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
              <a class="" href="/login">Login</a>
              <a class="" href="/signup">Sign Up</a>
            {% endif %}
          </div>
        </div>
    </nav>
  </header>
  <main class="">
  <!-- Andy: Commented out alerts in layout.html. I'm currently putting alerts in the children templates. -->
    {#
      {%with messages = get_flashed_messages(with_categories = true) %}
        {% if messages%}
          {% for category, message in messages%}
          <div class = "alert alert-{{category}}">
            {{ message }} 
          </div>
          {%endfor%}
        {% endif%}
      {% endwith %}
    #}
    {% block content %}{% endblock %}
  </main>
  <footer class="">
    <p>Tobu Pengin 2023</p>
  </footer>
</body>
</html>