<!-- Template inheritance: this template is the parent, while others are the children-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block tags %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename = 'main.css')}}">
  {% if title %}
    <title>{{company_name|e}} - {{ title|e }} </title>
  {% else %}
    <title>{{company_name|e}} </title>
  {% endif %}
  <script>
    document.cookie = "time_zone=" + Intl.DateTimeFormat().resolvedOptions().timeZone;
  </script>
  <link rel="icon" type="image/png" href="/static/images/Favicon.png"/>
</head>

<body>
  <header>
    <nav class="header-navbar-container">
        <a class="home-link" href="/">{{company_name|e}}</a>
        <div class="hamburger">
          <img onclick="hamburgerToggle()" class="icon" src="{{ url_for ('static', filename = 'icons/menu-icon.svg')}}" alt="Hamburger Icon">
        </div>
        <div id="nav-id" class="header-navigation">
          <div class="main-nav-links">
            <a class="header-link" href="/about">About Us </a>
            <a class="header-link" href="/products">Products</a>
            <a class="header-link" href="/forums">Forums</a>
            <a class="header-link" href="/blog">Blog</a>
            <a class="header-link" href="/tickets?status=all">Tickets</a>
            <a class="header-link" href="/calendar">Calendar</a>
            <div class="dropdown">
              <div class="dropdown-btn">Tools</div>
              <div class="dropdown-content">
                <!-- TODO: need to fill in correct href's -->
                <a href="/company">Company</a>
                <a href="/orders">Orders</a>
                <a href="/customers">Customers</a>
                <a href="/blogPosts">Blog Posts</a>
              </div>
            </div>
          </div>
          <div class="main-nav-links">
            {% if current_user.is_authenticated %}
                {% if is_admin %}
                  <a class="header-link" href="/blog/create">New Blog</a>
                  <a class="header-link" href="/company/editor">Company Editor</a>
                {% endif %}
              <a class="header-link" href="/profile">Profile</a>
              <a class="header-link" href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
              <a class="header-link" href="/login">Login</a>
              <a class="header-link" href="/signup">Sign Up</a>
            {% endif %}
          </div>
        </div>
    </nav>
  </header>
  <main>
  <!-- Andy: Commented out alerts in layout.html. I'm currently putting alerts in the children templates. -->
    {#
      {%with messages = get_flashed_messages(with_categories = true) %}
        {% if messages%}
          {% for category, message in messages%}
          <div class = "alert alert-{{category}}">
            {{ message }} 
          </div>
          {%endfor%}
        {% endif%}
      {% endwith %}
    #}
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>Tobu Pengin {{copyright|e}}</p>
  </footer>

  <script src="{{ url_for ('static', filename = 'javascript/scripts.js')}}"></script>
  {% block captchaScript %}{% endblock %}
</body>
</html>