<!-- 
  This is the page that users will see upon logging in. 
-->

{% extends "layout.html" %}

{% block content %}

<!-- For now, just display the user's name.-->
<h1 class="title">
    Welcome, {{ name }}!
  </h1>
  <div class="box">

    <form method="GET" action="/edit_profile">
      <h2>Profile Information</h2>
        <table class="table table-bordered">
          <tr>
            <th width="30%">Name</th>
            <td width="2%">:</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <th width="30%">Username</th>
            <td width="2%">:</td>
            <td>{{ username }}</td>
          </tr>
          <tr>
            <th width="30%">Email</th>
            <td width="2%">:</td>
            <td>{{ email }}</td>
          </tr>
        </table>
      <button class="button is-block is-info is-medium">Update</button>
    </form>
    
  </div>
  
{% endblock %}