{% extends "oneDiv.html" %}

{% block oneDivContent %}
<div class="column md-6 offset-3">
    <div class="container">
        <h1 class="title">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form class="authForm" method="POST" action="/signup">
            <div class="form-group">
                <label>Email address</label>
                <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="name" name="name" placeholder="Your Name">
            </div>

            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password">
            </div>

            <button class="btn btn-primary btn-lg" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}